.bold-font {
    line-height: .8;
    font-weight: 800;
    font-size: 85px;
}

span.bold-font {
    font-weight: 500;
    font-size: 40px;
}

#first {
    p {
        padding: 0 170px;

        span {
            &:first-child {
                float: left;
            }

            &:nth-child(2) {
                float: right;
            }
        }
    }

    div {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

i.fa {  // font-awesome
  font-style: normal;
}

pre {
    font-size: 1em !important;
    border: 2px solid #bbb !important;
}
